.gallery {
    display: flex;
}

.person{
    width: 30%;
    padding: 2%;
    height: 50%;
}
.peopleimages{
    width: 25%;
    height: auto;
}

.bios{
    text-align: left;
    color: #203344;
    font-size: 14pt;
}
.whywestarted{
    text-align: left;
    color: #203344;
    font-size: 17pt;

}

.lesswide {
    width: 1250px;
}
.title{font-size: 69px;}

.right.blue{
      height: fit-content;
}
.title{
    color:#64a3d9;
    border-bottom: #64a3d9 solid 3px;
}

p {
    font-size: 20px;
}

.peopleimages {
    height: 250px;
    width: 250px;
}
.ourVenture{
    color: #203344;
    text-align: left;
    font-size: 20px;
}
li{
    margin: 10px 0;
  }

#textdec{
    text-decoration: none !important;
}

@media only screen and (max-width: 600px) { 
    .person {
        max-width: 599px !important;
        width: 100%;
        margin: 0px !important;
        padding-bottom: 10%;
    
    }

    .peopleimages {
        width: 300px;
        height: 300px;
    }

    .bios {
        width: 90vw;
        margin: auto;
    }

    .gallery {
        display: inline-block;
        align-items: none;
        width: 90vw;
    }

    h3 {
        width: 70vw;
    }

    .questions{
        width: 90vw;
    }

    .lesswide {
        width: 90vw;
    }

    .whywestarted {
        font-size: 20px;
    }

    .right.blue {
        width: 90vw;
        margin: auto;
    }
}

 @media only screen and (max-width: 400px) { 
    h3 {
        font-size: 15pt !important;
    }

    .title {
        font-size: 40px !important;
    }


}