.gallery {
    display: flex;
    align-items: center;
}

.person{
    width: 30%;
    padding: 2%;
    height: 400px;
}
.peopleimages{
    width: 25%;
    height: auto;
}

.bios{
    text-align: left;
    color: #203344;
    font-size: 14pt;
}
.whywestarted{
    text-align: left;
    color: #203344;
    font-size: 17pt;

}

.lesswide {
    width: 1250px;
}
.title{font-size: 69px;}

.right.blue{
      height: fit-content;
}
.title{
    color:#64a3d9;
    border-bottom: #64a3d9 solid 3px;
}

p {
    font-size: 20px;
}