@media screen and (min-width: 46.25em){
    body {
        background-color: white;
        width: 99%;
        height: 99%;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    * {box-sizing: border-box}
    body {font-family: Arial, Helvetica, sans-serif;}

.grid {
    display: flex;
    justify-content: space-around;
}
.container {
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-width: .1em;
    border-style: solid;
    background: #64a3d9;
    border-radius: 10px;;
    margin: 0 auto;
}

.chat {
    background-color: white;
    display: flex;
    padding: 20px 0;
    text-align: center;
    font-size: xx-large;
}
.call {
    padding: 20px 0px;
    background: white;
    text-align: center;
    font-size: xx-large;
    display: flex;
}
.website {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    font-size: xx-large; 
    display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  font-size: medium;
  position: sticky;
  margin: 0 auto;
  background-color:white;
  width: 400px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-width: .1em;
  border-style: solid;
  border-radius: 10px;
} 

.dropdown-content a {
  color: #64a3d9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
  }

.hotline {
  display: flex;
    justify-content: space-around;
}

.title {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color:#64a3d9;
  font-size:30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}