
@font-face {
  font-family: 'playlistscript';
  src: url('playlist_script-webfont.woff2') format('woff2'),
       url('playlist_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'playlistcaps';
  src: url('playlist_caps-webfont.woff2') format('woff2'),
       url('playlist_caps-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
body {
  background-color: white;
  background-image: url('/static/dot-grid.png');
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  border-bottom: 1px solid white;
  font-family: playlistscript;
  font-size: 40pt;
  background-color: white;
}

.left {
  flex: 25%;
  height: 100%;
  text-align: center;
  background-color: #64a3d9;
  height: 600px;
  outline: 4px solid white;
  outline-offset: -15px;
  outline-style:double;
  color: white;


}
/* img{
  margin-left: 10%;
}  */

.together {
  background-image: url('/static/together.jpg');
  margin-left: 10%;
  width: 100vw;
  height: 900px;
  margin-left: 0px;
  background-size: cover; /* Resize the background image to cover the entire container */

}
h1{
  float: right;
  margin-right: 15%;
  text-align: center;
  line-height: 100px;
  height: 100px;
  font-size: 70pt;
}
.right {
  flex: 70%;
  height: 600px;
  text-align: center;
  margin-left: 6.9%;
  outline: 4px solid white;
  outline-offset: -15px;
  background-color: #64a3d9;
  outline-style:double;
  color: white;

  

  
}

.blue {
  
}

.flexbox {
  display: flex;
  height: 100%;
  margin-left: 6.9%;
  margin-right: 6.9%;
  margin-top: 6.9%;
  background-color: transparent;
}

.center {
  /* float: left;
  display: flex;
  width: 100%; */
  display: flex;
  justify-content: center;
}
.logoCenter {
  

  justify-content: none;
} 

.typewriter {
  position: absolute;
  margin: 0px;
  transform: translate(150pt, 200pt);
  height: 100px;
  color: white;
  font-size: 25pt;
  text-shadow: 2pt 2pt 2pt #000000;
  /* animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal; */
}
/* @keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
} */



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav, #navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #64a3d9;
  overflow: hidden;
  
}
.relative{
  position: relative;
}

.nav a {
  text-decoration: none;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 20pt;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
        background-color: #64a3d9;
}

.nav a:hover {
  background-color:#49779E;

}

