
@font-face {
  font-family: 'playlistscript';
  src: url('playlist_script-webfont.woff2') format('woff2'),
       url('playlist_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'playlistcaps';
  src: url('playlist_caps-webfont.woff2') format('woff2'),
       url('playlist_caps-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100vw;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
body {
  /* background-color: white; */
  /* background-image: url('/static/dot-grid.png'); */
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  border-bottom: 1px solid white;
  font-family: playlistscript;
  font-size: 40pt;
  background-color: white;
}

.left {
  height: 600px;
  width: 90%;
  text-align: center;
  margin: auto;
  /* background-color: #64a3d9; */
  /* height: 600px; */
  /* outline: 4px solid white; */
  /* outline-offset: -15px; */
  /* outline-style:double; */
  color: #64a3d9;


}
.flexBoxH2{
  float: left;
  font-size: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #64a3d9 solid 3px;
  width: 100%;
}
/* img{
  margin-left: 10%;
}  */

.noTopMargin {
  margin-top: 0%;
}
.together {
  background-image: url('/static/together.jpg');
  margin-left: 10%;
  width: 100%;
  height: 900px;
  margin-left: 0px;
  background-size: cover; /* Resize the background image to cover the entire container */

}

strong, em {
  color: #64a3d9;
}

h1{
  text-align: center;
  line-height: 200px;
  height: 100px;
  font-size: 70pt;
  float: right;
  margin-right: 17%;
  margin-top: 2%;
  margin-bottom: 0px;
  color: #203344;
}

h3 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 0%;
  color: #203344;
}

.contact {
  padding-top: 15px;
}

.flexBoxH2 {
  font-size: 60pt;
  text-align:left;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  font: 20px;
  color: white;
  background-color:#64a3d9;
  text-align: center;
  height: 50px;
}

.spacing {
  margin-top: 0px;
  margin-bottom: 100px;
}

.right {
  /* height: 600px; */
  width: 90%;
  height: 600px;
  text-align: center;
  margin: auto;
  /* outline: 4px solid white;
  outline-offset: -15px; */
  /* background-color: #64a3d9;
  outline-style:double; */
  color: #64a3d9;  
}

/* .line {
  border-left: 6px solid #64a3d9;
  height: 500px;
  /* position: absolute; */
  /* margin-left: -3px; 
} */ 

.flexBoxP{
  float: left;
  font-size: 24px;
  text-align: left;
  color: #203344;
}
.flexBoxUL{
  float: left;
  font-size: 24px;
  text-align: left;
  margin-top: 0px;
  color: #203344;
}

.logoImg{
  margin-left: 5%;
  margin-top: 2%;
  
}

.flexbox {
  display: flex;
  height: 100%;
  margin-left: 6.9%;
  margin-right: 6.9%;
  margin-top: 6.9%;
  background-color: transparent;
}

.center {
  /* float: left;
  display: flex;
  width: 100%; */
  display: flex;
  justify-content: center;
}
.logoCenter {
  
  justify-content: space-evenly;
} 


.mam {
  position: absolute;
  margin: 0px;
  transform: translate(190pt, 125pt);
  height: 100px;
  color: white;
  font-size: 75pt;
  text-shadow: 2pt 2pt 2pt #000000;
}

#typewriter {
  position: absolute;
  margin: 0px;
  transform: translate(190pt, 220pt);
  height: 100px;
  color: white;
  font-size: 40pt;
  text-shadow: 2pt 2pt 2pt #000000;
} 

#cursor {
	display: inline-block;
  vertical-align: middle;
  transform: translate(275pt, 225pt);
	width: 0px;
	height: 0px;
  background-color: white;
  color: transparent;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
}


.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.nav, #navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #64a3d9;
  overflow: hidden;
  z-index: 100;
}
.relative{
  position: relative;
}

.nav a {
  text-decoration: none;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 20pt;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
        background-color: #64a3d9;
}

.nav a:hover {
  background-color:#49779E;

}

.contact{
  font-size: 20px;
}

.topnav {
  display: none;
}

@media only screen and (max-width: 600px) { 
  .nav a {
    display: none;
  }

  .nav, #navbar {
    display: none;
  }

  /* Style the navigation menu */
.topnav {
  display: block;
  overflow: hidden;
  background-color: #203344;
  position: relative;
  z-index: 100;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #203344;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: #203344;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #64a3d9;
  color: white;
}

  h1 {
    margin: 0px;
    font-size: 30pt !important;
    line-height: 170px;
    height: auto;
    float: none;
    padding-left: 60px;
  }

  .logocenter {
    font-size: 20pt;
    line-height: auto;
    display: flex;
  }

  .logoImg {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    line-height: 170px;
  }
  .together {
    height: 500px;
    width: 600px;
  }

  #typewriter {
    font-size: 20pt;
    transform: translate(65pt, 137pt);
  }

  .mam {
    font-size: 35pt;
    transform: translate(65pt, 80pt);
  }

  .flexBoxP {
    font-size: 20px;
  }

  .right {
    height: 700px;
  }

  .flexBoxUL {
    font-size: 20px;
  }
}