@import url(https://fonts.googleapis.com/css?family=Lato);

  /* Resource list: Resource titles */
  h1 {
    font-size: 300%;
    font-family: Lato;
    color: black;
    text-align: left;
  }

  /* Resource list: description */
  dd {
    text-align: left;
    font-size: 100%;
  }

  /* Color of hyperlinks */
  a {
    color: #13294B;
  }
  a:visited {
    color: #65a4d8;
  }
  a:hover, a:active, a:focus {
    color:rgb(211, 218, 230);
  }

  div {
    background-color: white;
    width: 75%;
    border: 50px solid #65a4d8;
    padding: 5%;
    margin: 10%;
  }