@import url(https://fonts.googleapis.com/css?family=Lato);

  /* Resource list: Resource titles */
  .resource-title {
    font-size: 350%;
    font-family: Lato;
    color: black;
    text-align: left;
  }

  /* Resource list: body */
  .resource-description {
    text-align: left;
    font-family: Lato;
    font-size: 125%;
    font-weight: normal;
    white-space: pre-line;
  }

  /* Color of hyperlinks */
  /* a {
    color: #13294B;
  }
  a:visited {
    color: #65a4d8;
  }
  a:hover, a:active, a:focus {
    color:rgb(211, 218, 230);
  } */

  .box {
    background-color: white;
    padding: 5%;
    margin: 1%;
  }

  @media only screen and (max-width: 600px) { 
    .resource-title {
      font-size: 120%;
    }

    .resource-description {
      font-size: 90%;
    }
  }

  @media only screen and (max-width: 400px) {
    .resource-title {
      font-size: 120%;
    } 

    .resource-description {
      font-size: 90%;
    }
  }