@import url(https://fonts.googleapis.com/css?family=Lato);

title {
    color: rgb(136, 28, 28);
    font-size: 400%;
    margin-top: 50%;
  }

  /* Resource list: Resource titles */
  h3 {
    font-size: 300% "Lato", serif;
    color: #65a4d8;
  }

  /* Resource list: description */
  dd {
    text-align: right;
    font-size: 100%;
    margin-left: 50%;
  }

  /* Color of hyperlinks */
  a {
    color: #13294B;
  }
  a:visited {
    color: #65a4d8;
  }
  a:hover, a:active, a:focus {
    color:rgb(211, 218, 230);
  }