@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    margin: 0;
    padding: 0;
  }

  /* NOTE: HOLD SHIFT + CLICK REFRESH TO REFRESH AND UPDATE CSS
  WITH CHROME */

.table {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 5px solid #65a4d8;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  /* Resource titles styling */
  .flex-name {
    text-align: left;
    font-weight: bold;
    color: #ffff;
    width: 35%;
    padding-right: 5%;
    font-size: 200%;
  }

  .flex-description {
    text-align: left;
    justify-content: center;
    color: black;
    width: 60%;
  }

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    height: 600px;
  }

  /* Title/Intro column */
  .title {
    flex: 1 1 0;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    color: #ffff;
    border: 1px solid white;  /* For debugging */
    background-color: #65a4d8;
    min-width: 100px;
  }

  /* Resource List */
  .text {
    flex: 3 1 0;
    text-align: left;
    color: black;
    padding: 10px;
    background-color: white;
    border: 1px solid white;  /* For debugging */

    height: 500px;
    overflow-y: scroll;
  }

  /* Color of hyperlinks */
  a {
    color: black;
  }
  a:hover, a:active {
    color: #99badd;
  }

  /* Scroll Bar Styling */
  ::-webkit-scrollbar {
    width: 10px;
    overflow: overlay;
  }
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
   }
  ::-webkit-scrollbar-thumb:hover {
    background: #b5baba;
  }

  /* Left panel title styling */
  .left-title {
    font-weight: bold;
    color: white;
    font-size: 400%;
    margin-top: 50%;
    word-spacing: 30px;
  }