<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutus.css') }}" />
</head>

<body>

    {% extends "base.html" %} {% block body %}
    <div class="right blue">
        <h2 class="flexBoxH2">About Us</h2>
        <h3>The team behind Mind Above Matter </h3>
        <div class="gallery">
            <div class=person>
                <h2>Megan Schneider</h2>
                <img class="peopleimages" src="{{ url_for('static', filename='megan.jpg') }}"></img>
                <p><strong>Co-President of Operations</strong></p>
                <div class="bios">
                    <ul>
                        <li>Advertising and Public Relations and Political Science double major, minor in Art History
                        </li>
                        <li>HAVEN trained, received domestic violence and gender services training through the Carolina
                            Women’s Center</li>
                        <li>Member of Women’s Innovation Council</li>
                    </ul>
                </div>
            </div>
            <div class=person>
                <h2>Luke Habegger</h2>
                <img class="peopleimages" src="{{ url_for('static', filename='luke.jpg') }}"></img>
                <p><strong>Co-President of Records</strong></p>
                <div class="bios">
                    <ul>
                        <li>Political Science and Economics double major, minor in German</li>
                        <li>Mental Health First Aid trained</li>
                        <li>Judge for the 2020 Carolina Challenge Makeathon</li>
                    </ul>
                </div>
            </div>
            <div class=person>
                <h2>Taylor Riga</h2>
                <img class="peopleimages" src="{{ url_for('static', filename='tay.jpg') }}"></img>
                <p><strong>Co-President of Finances</strong></p>
                <div class="bios">
                    <ul>
                        <li>Economics and Communications double major, minor in Writing for the Screen and Stage
                        </li>
                        <li>Member of Women’s Innovation Council</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class=>
            <h3 class="title">
                Our Story
            </h3>
            <div class="lesswide">
                <p class="whywestarted">
                    As freshmen at UNC, we realized that the transition to college and the environment itself proves to
                    be quite stressful. With the overwhelming stigma to succeed on our campus, many students sacrifice
                    their mental and overall wellbeing. What we found was that while UNC offers a multitude of on-campus
                    organizations dedicated to mental health, most students cannot name more than two, let alone figure
                    out which ones fit their individual needs. Instead of creating yet another mental health resource,
                    we decided to come up with an easy and accessible way for students to find these scattered and hard
                    to find resources.

                </p>
                <p class="whywestarted">
                    We have previously created two prototype websites before launching our official site in the summer
                    of 2020. CS + Social Good helped us develop our new and improved website based on market research we
                    have received from hundreds of Carolina students, both undergraduate and graduate, to discover what
                    they are looking for. We have used this data, along with feedback from other members of the Carolina
                    entrepreneurial community, to ensure that our website is an easy and effective way for students to
                    access the mental health support that is best fit for their needs. Through our venture, we hope to
                    reform the scatter of mental health organizations to create a more practical and user-friendly
                    system of obtaining help and information for mental wellness.
                </p>

            </div>
            <div class=>
                <h3 class="title">
                    Our Venture
                </h3>
                <div class="lesswide">
                    <ul>
                        <li class="ourVenture">
                            Registered nonprofit and 501(c)(3) organization since 2020
                        </li>
                        <li class="ourVenture">
                            Won Best Early Stage Digital Product and the Social Media Challenge in the 2019 Carolina
                            Challenge Makeathon
                        </li>
                        <li class="ourVenture">
                            Participated in the Launch Chapel Hill 2020 Summer Cohort
                        </li>
                        <li class="ourVenture">
                            Further developed through the Campus Y’s CUBE 5.0 Cohort from summer 2019 to spring 2020
                        </li>
                        <li class="ourVenture">
                            Presented in the 2019 Carolina Innovation Showcase
                        </li>
                        <li class="ourVenture">
                            Competed in the 2019 Carolina Challenge Pitch Party
                        </li>
                        <li class="ourVenture">
                            Active membership in the 1789 Venture Lab since 2018
                        </li>

                    </ul>
                </div>
            </div>
            <div class="questions">
                <h3>For questions and comments feel free to email uncmindovermatter@gmail.com</h3>
                <h3>For immediate help, see the <em>Get Help Now</em>&nbsp; tab up above.</h3>
                <h3 class="spacing">In an emergency, please call 911.</h3>
            </div>
        </div>
        <script>
            var title = document.getElementById("aboutus");
            title.classList.add("current");
        </script>


    </div>
        {% endblock %}

</body>

</html>