<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutus.css') }}" />
</head>

<body>

    {% extends "base.html" %} {% block body %}
    <div class="right blue">
        <h2 class="flexBoxH2">About Us</h2>
        <h3>The team behind Mind Above Matter </h3>
        <div class="gallery">
            <div class=person>
                <h2>Megan Schneider</h2>
                <img class="peopleimages" src="{{ url_for('static', filename='megan.jpg') }}"></img>
                <p><strong>Co-President of Operations</strong></p>
                <div class="bios">
                    <ul>
                        <li>Advertising and Public Relations through the Hussman School of Journalism and Media and
                            Political Science double major</li>
                        <li>Member of Women’s Innovation Council</li>
                        <li>2019 Carolina Challenge Makeathon Winners</li>
                        <li>2019 Carolina Innovation Showcase</li>
                        <li>Campus Y CUBE 5.0 Cohort Member</li>
                        <li>1789 Venture Lab Member</li>
                    </ul>
                </div>
            </div>
            <div class=person>
                <h2>Luke Habegger</h2>
                <img class="peopleimages" src="{{ url_for('static', filename='luke.jpg') }}"></img>
                <p><strong>Co-President of Records</strong></p>
                <div class="bios">
                    <ul>
                        <li>Political Science and Economics double major with a minor in German</li>
                        <li>Mental Health First Aid trained</li>
                        <li>Judge for the 2020 Carolina Challenge Makeathon</li>
                        <li>2019 Carolina Innovation Showcase</li>
                        <li>Campus Y CUBE 5.0 Cohort Member</li>
                        <li>1789 Venture Lab Member</li>
                    </ul>
                </div>
            </div>
            <div class=person>
                <h2>Taylor Riga</h2>
                <img class="peopleimages" src="{{ url_for('static', filename='tay.jpg') }}"></img>
                <p><strong>Co-President of Finances</strong></p>
                <div class="bios">
                    <ul>
                        <li>Economics and Communications double major with a minor in Writing for the Screen and Stage</li>
                        <li>Member of Women’s Innovation Council</li>
                        <li>2019 Carolina Challenge Makeathon Winners</li>
                        <li>2019 Carolina Innovation Showcase</li>
                        <li>Campus Y CUBE 5.0 Cohort Member</li>
                        <li>1789 Venture Lab Member</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class=>
            <h3 class="title">
                Our Story
            </h3>
            <div class="lesswide">
                <p class="whywestarted">
                    Mind Above Matter came together when the three of us took the first-year seminar of PLCY 89 in the
                    fall
                    of 2018. We, and our other teammate, Rachel Jones, came up with the idea for a system that would
                    aggregate all of UNC's mental health resources in one place. Our team noticed that all of these
                    resources had to be found separately, often taking up a lot of time and causing confusion for the
                    user.
                    After going through multiple entrepreneurship competitions and joining the CUBE 5.0 Cohort, we
                    eventually decided on creating a website to solve this problem. Thanks to the spectacular work by
                    the
                    Spring 2020 Education Team of CS + Social Good, we were able to develop this website while also
                    establishing ourselves as a non-profit organization.
                </p>
                <p class="whywestarted">
                    Although our idea has evolved, we still stand by the same mission statement we came up with in the
                    beginning: Our mission is to make practical mental health services accessible to UNC students. We
                    aspire
                    that one day mental health will be as easy to talk about and seek treatment for as the common cold,
                    so
                    it is seen as equivalent to physical wellbeing. We’re hoping to foster a local community that ends
                    the
                    stigma surrounding mental illness and encourages college students to reach out for assistance with
                    problems with their mental health. Here at UNC, we hope to reform the current scatter of mental
                    health
                    organizations to create a more practical and user-friendly system of obtaining help and information
                    for
                    mental illness.
                </p>
            </div>
        </div>
        <h3>For questions and comments feel free to email uncmindovermatter@gmail.com</h3>
        <h3>For immediate help, see the <em>Get Help Now</em>&nbsp; tab up above.</h3>
        <h3 class="spacing">In an emergency, please call 911.</h3>
    </div>
    <script>
        var title = document.getElementById("aboutus");
        title.classList.add("current");
    </script>



    {% endblock %}

</body>

</html>