{% extends "base.html" %} {% block body %}

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lato">

<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Admin Page</title>
    </head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Contact Information</th>
                <th>Delete?</th>
            </tr>
        </table>
    </body>