<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}" />   
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <div class = "logocenter">
        <img src="{{ url_for('static', filename='newLogo.png') }}"   width="200" height="200" alt="Mind Over Matter"></img>
        <h1>Put your mind first</h1>
    </div>
</header>
    <div class = "nav">
            <a href="default.asp">Home</a>
            <a href="news.asp">Get Help Now</a>
            <a href="contact.asp">Resources</a>
            <a href="about.asp">Events</a>
            <a href="about.asp">About</a>
    </div>
    {% block body %}{% endblock %}
</body>
</html>