<!DOCTYPE html>
<h1>Mind Over Matter</h1>
<h1> style="background-color:powderblue;"></h1>
<p style="background-color:Tomato;">Lorem ipsum...</p>

<body>
    <p>News & Events</p>
        <div id="Get Help Now" class="tabcontent">
                <h1>Get Help Now</h1>
                <p>If you need immeadiate assistance, please click here.</p>
              </div>
              
              <div id="Resources" class="tabcontent">
                <h1>Resources</h1>
                <p>Please click here for a list of our Resources.</p> 
              </div>
              
              <div id="News & Events" class="tabcontent">
                <h1>News & Events</h1>
                <p>Please click here to see a calendar of our evetns.</p>
              </div>
              
              <button class="tablink" onclick="openCity('Get Help Now', this, 'red')" id="defaultOpen">Get Help Now</button>
              <button class="tablink" onclick="openCity('Resources', this, 'green')">Resources</button>
              <button class="tablink" onclick="openCity('News & Events', this, 'blue')">News & Events</button>

              </div>

              <div class="topnav">
                    <input type="text" placeholder="Search..">
                  </div>

    <p>This is the calendar!</p>
    <iframe src="https://calendar.google.com/calendar/embed?src=uncmindovermatter%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</body>