<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="css" href="{{url_for('static', filename='calendar.css')}}">

</head>

<body>
    {% extends "base.html" %} {% block body %}
    <div class="right blue, change" style="height:auto">
        <h2 class="flexBoxH2">Calendar</h2>
        <iframe id="cal"
            src="https://calendar.google.com/calendar/embed?src=uncmindovermatter%40gmail.com&ctz=America%2FNew_York"
            style="border: 0" frameborder="0" scrolling="no" height="700" width="1000"></iframe>
    </div>
    <script>
        var title = document.getElementById("calendar");
        title.classList.add("current");
    </script>
    {% endblock %}
</body>

</html>