{% extends "base.html" %} 
{% block head %}
<!DOCTYPE html>
<html lang='en'>
<title>
    Get Help Now
</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='GitHelpNow.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
<script src="https://kit.fontawesome.com/98b45de78e.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='GitHelp.js') }}"></script>
{% endblock %}
{% block body %} 
<br>
<br>
<div class = "grid">
            <div class ="title">
                Chatline
            </div>
            <div class = "title">
                Hotline
            </div>

            <div class = "title">
                Website
            </div>

        </div>
        <br>

        <div class="grid">
            <div class="chat">
                <div class="dropdown">
                    <div class="container" >
                        <i class="fas fa-comment fa-6x" onclick="ChatFunction()" class="dropbtn" alt="chat"> </i>
                    </div>
                    <div id="ChatDropdown" class="dropdown-content">
                        {% for help in chat_list %}
                            <a target="_blank"href="{{ help.link }}">{{ help.title }}
                                <br>
                            <small>{{help.description}}</small></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="call">
                <div class="dropdown">
                    <div class="container">
                        <i class="fas fa-phone-volume fa-5x" onclick="CallFunction()" class="dropbtn" class="fas fa-phone-square-alt" alt="chat"
                            width="340"> </i>
                    </div>
                    <div id="callDropdown" class="dropdown-content">
                            {% for help in call_list %}
                                <a  target="_blank"href="{{ help.link }}">{{ help.title }}
                                    <br>
                                <small>{{help.description}}</small></a>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="website">
                <div class="dropdown">
                    <div class="container">
                        <i class="fas fa-hand-holding-medical fa-5x" onclick="WebsiteFunction()" class="dropbtn"  alt="chat"
                             width="340"> </i>
                    </div>
                    <div id="WebsiteDropdown" class="dropdown-content" >
                        {% for help in website_list %}
                            <a target="_blank" href="{{ help.link }}">{{ help.title }}
                                <br>
                            <small>{{help.description}}</small></a>
                        {% endfor %}
                    </div>

                </div>
            </div>
           

        </div>

    </div>
    <script>
        var title = document.getElementById("help");
        title.classList.add("current");
    </script>
</html>

{% endblock %}