<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepagestyle.css') }}" />   
</head>
<body>
<!-- <header>
    <div class = "logocenter">
        <img src="{{ url_for('static', filename='Logo_no_words.png') }}"   width="200" height="200" alt="Mind Over Matter"></img>
        <h1>Put your mind first</h1>
    </div>
</header>
    <div class = "nav">
            <a href="default.asp">Home</a>
            <a href="news.asp">Get Help Now</a>
            <a href="contact.asp">Resources</a>
            <a href="about.asp">Events</a>
            <a href="about.asp">About</a>
    </div> -->
    
    
       
    {% extends "base.html" %} {% block body %} 
    <div>
    <img src="{{ url_for('static', filename='together.jpg') }}"  alt="Mind Over Matter" class ="together"></img>
   <div><h1>stuff</h1></div> 
    </div>

    
    <div class = "flexbox">
    <div class = "left blue">
    <h2>Events</h2>
    </div>

    <div class = "right blue">
        <h2>About Us</h2>
    </div>
    </div>
    {% endblock %}
</body>
</html>