{% extends "base.html" %} {% block head %}
  <title>Resources</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">


{% endblock %}
{% block body %}

<head>
  
</head>
<div class="menu-container">
  <div class="title">
    <div class="left-title">
      Resources
    </div>
    <body>A complete list of mental health resources that UNC provides.

      <script>
        var title = document.getElementById("resources");
        title.classList.add("current");
    </script>
    </body>
    <br>
    <br>
    <input id="searchField" type="text" placeholder="Search...">
    <!-- <input id="submit" name="Submit" type="submit" /> -->
    <button type="button" onclick="searchInput()">Submit</button>
  </div>
  <div class="text">
    <div class="table">
      {% for Resource in ResourcesList %}
      <div class="flex-row">
        <div class="flex-name">
          <a href="/resources/{{ Resource.id }}" target="_blank">{{ Resource.title }}</a>
        </div>
        <div class="flex-description">{{ Resource.description }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function searchInput() {
      search=document.getElementById("searchField").value
      if (location.href.includes("search")){
        location.replace(search)
      } else {
        location.replace("search/" + search)
      }
      
  }
</script>

{% endblock %}