{% extends "base.html" %} {% block body %}

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lato">

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Some Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}"/>
  </head>
    <div class="menu-container">
      <div class="title">
        <h2>Resources</h2>
        <body>Insert an introductory message here. Explain stuff and abcdefg and add some encouraging
          and wholesome message.
        </body>
        <br>
        <input type="text" placeholder="Search...">
      </div>
      <div class = "text">
        {% for Resource in ResourcesList %}
        <h3><a href="{{ loop.index }}" target="_blank">{{ Resource.title }}</a></h3>
        <dd>{{ Resource.description }}
        </dd>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

{% endblock %}