<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<style>
body {
    font-family: 'Arvo';font-size: 22px;
    background-color: #c0e7fc;
}

</style>
</head>
<body>

<title>MoM Resources</title>
<h1 style="color: #13294B; font-weight: bold; font-size: 90px;"><center>Welcome to the Resources Page!</center></h1>
<ul>
    <li><a href="http://activeminds.web.unc.edu/" target="_blank" style="color: white">Active Minds</a>
    </li>
    <dd>Active Minds at Carolina is a service and advocacy organization dedicated to raising awareness for and combating stigma against mental health issues on UNC’s campus and in the Chapel Hill community.
    </dd>
    <li><a href="https://heellife.unc.edu/organization/artheels" target="_blank" style="color: white">Art Heels</a></li>
    <dd>ArtHeels is a service-based organization that is passionate about bringing art to the UNC campus and the surrounding community. 
        </dd>
    <li><a href="https://www.facebook.com/betanutheta/" target="_blank" style="color: white">Beta Nu Theta</a></li>
    <dd>Beta Nu Theta is UNC’s first black co-ed service fraternity, founded on the principles of activism, faith, service to others, and service to self.  Beta Nu Theta is for people who have a passion for people, mind-health, or just want to make new friends.
        </dd>
  </ul>